[submodule "avs-manager/lib/forge-std"]
	path = avs-manager/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "avs-manager/lib/eigenlayer-middleware"]
	path = avs-manager/lib/eigenlayer-middleware
	url = https://github.com/Layr-Labs/eigenlayer-middleware
